@page "{id:int}"
@model Pixlpark.Pages.OrderDetailsModel
@{
}
<div>
    <h4>@Model.Order.Title</h4>
    <hr/>
    <table class="table">
        <tr>
            <th>Order Id</th>
            <th>@Model.Order.Id</th>
        </tr><tr>
            <th>PhotolabId</th>
            <th>@Model.Order.PhotolabId</th>
        </tr><tr>
            <th>CustomId</th>
            <th>@Model.Order.CustomId</th>
        </tr><tr>
            <th>SourceOrderId</th>
            <th>@Model.Order.SourceOrderId</th>
        </tr><tr>
            <th>ManagerId</th>
            <th>@Model.Order.ManagerId</th>
        </tr><tr>
            <th>AssignedToId</th>
            <th>@Model.Order.AssignedToId</th>
        </tr><tr>
            <th>Title</th>
            <th>@Model.Order.Title</th>
        </tr><tr>
            <th>TrackingUrl</th>
            <th>@Model.Order.TrackingUrl</th>
        </tr><tr>
            <th>TrackingNumber</th>
            <th>@Model.Order.TrackingNumber</th>
        </tr><tr>
            <th>Status</th>
            <th>@Model.Order.Status</th>
        </tr><tr>
            <th>RenderStatus</th>
            <th>@Model.Order.RenderStatus</th>
        </tr><tr>
            <th>PaymentStatus</th>
            <th>@Model.Order.PaymentStatus</th>
        </tr><tr>
            <th>CommentsCount</th>
            <th>@Model.Order.CommentsCount</th>
        </tr><tr>
            <th>DownloadLink</th>
            <th>@Model.Order.DownloadLink</th>
        </tr><tr>
            <th>PreviewImageUrl</th>
            <th>@Model.Order.PreviewImageUrl</th>
        </tr><tr>
            <th>PaymentStatus</th>
            <th>@Model.Order.Price</th>
        </tr><tr>
            <th>DiscountPrice</th>
            <th>@Model.Order.DiscountPrice</th>
        </tr><tr>
            <th>DeliveryPrice</th>
            <th>@Model.Order.DeliveryPrice</th>
        </tr><tr>
            <th>TotalPrice</th>
            <th>@Model.Order.TotalPrice</th>
        </tr><tr>
            <th>PaidPrice</th>
            <th>@Model.Order.PaidPrice</th>
        </tr><tr>
            <th>UserId</th>
            <th>@Model.Order.UserId</th>
        </tr><tr>
            <th>UserCompanyAccountId</th>
            <th>@Model.Order.UserCompanyAccountId</th>
        </tr><tr>
            <th>DiscountTitle</th>
            <th>@Model.Order.DiscountTitle</th>
        </tr><tr>
            <th>DateCreated</th>
            <th>@Model.Order.DateCreated</th>
        </tr><tr>
            <th>DateModified</th>
            <th>@Model.Order.DateModified</th>
        </tr><tr>
            <th>DatePaid</th>
            <th>@Model.Order.DatePaid</th>
        </tr><tr>
            <th>DateReady</th>
            <th>@Model.Order.DateReady</th>
        </tr><tr>
            <th>LastDownloadedPaymentDocument</th>
            <th>@Model.Order.LastDownloadedPaymentDocument</th>
        </tr><tr>
            <th>PaymentSystemUniqueId</th>
            <th>@Model.Order.PaymentSystemUniqueId</th>
        </tr><tr>
            <th>GoogleClientId</th>
            <th>@Model.Order.GoogleClientId</th>
        </tr><tr>
            <th>ContractorOrders</th>
            <th>@Model.Order.ContractorOrders</th>
        </tr><tr>
            <th>DeliveryAddress</th>
            <th>@Model.Order.DeliveryAddress</th>
        </tr><tr>
            <th>Shipping</th>
            <th>@Model.Order.Shipping</th>
        </tr>
    </table>
</div>